<% @skip_navbar = true %>
<% @body_class = "authentication" %>

<div class="authentication__card">
  <h1 class="h1 text-center authentication__title">
    Welcome back!
  </h1>

  <%= tag.div alert, class: "alert alert--error authentication__error-message" if alert.present? %>

  <%= form_with url: session_path, class: "form-group" do |f| %>
    <div class="input-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "input", placeholder: "your@email.com" %>
    </div>

    <div class="input-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "input", placeholder: "********" %>
    </div>

    <%= f.submit "Log in", class: "btn" %>
  <% end %>
</div>
