<%= turbo_frame_tag bank_account do %>
  <tr>
    <td><%= link_to bank_account.name, bank_account, data: { turbo_frame: "_top" } %></td>
    <td class="text-monospace table__cell table__cell--right"><%= number_to_currency bank_account.balance %></td>
    <td class="bank_account__actions">
      <%= link_to "Edit", edit_bank_account_path(bank_account), class: "link" %>
      <%= button_to "Delete", bank_account_path(bank_account), method: :delete, data: { turbo_confirm: "Are you sure?" }, class:"link link--danger" %>
    </td>
  </tr>
<% end %>
