<%= form_with model: bank_account, id: "bank-accounts-form", class: "form-group" do |f| %>
  <div class="input-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "input" %>
  </div>

  <div class="input-group">
    <%= f.label :balance %>
    <%= f.number_field :balance, class: "input" %>
  </div>

  <%= f.submit bank_account.new_record? ? "New bank account" : "Edit bank account", class: "btn" %>
<% end %>
