<%= form_with model: category, id: "categories-form", class: "form-group" do |f| %>
  <div class="input-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "input" %>
  </div>

  <div class="input-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "input", placeholder: "optional" %>
  </div>

  <%= f.submit "Create category", class: "btn" %>
<% end %>
